html {
  scroll-behavior: smooth;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  color: #333333;
}
body {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.anchor {
  position: absolute;
  width: 100%;
  height: 70px;
  top: -70px;
}
.mark {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 10%;
  pointer-events: none;
}
@media screen and (max-width: 710px) {
  .anchor {
    height: 55px;
    top: -55px;
  }
}
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 3px 3px 9px #0000002a;
  box-shadow: 3px 3px 9px #0000002a;
  z-index: 90;
}
nav #logo {
  height: 100%;
  width: 20%;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav #logo img {
  height: auto;
  width: 80%;
  min-width: 150px;
}
nav #top-menu {
  height: 100%;
  width: 80%;
}
/* BOTON HAMBURGUESA */
#burger-button {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 20%;
  z-index: 100;
}
nav #top-menu div {
  margin-left: 5%;
  height: 100%;
  width: 75%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav #top-menu div a {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
nav #top-menu div a:hover {
  color: #c9c9c9;
}
nav #top-menu div a:active {
  color: #b244fd;
}
nav #lang {
  position: absolute;
  right: 0;
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav #lang button {
  display: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  padding: 0 4.5px;
  border: 2px solid #999999;
  color: #999999;
  border-radius: 100%;
  background: none;
  outline: none;
}
@media screen and (max-width: 1000px) {
  nav #top-menu div a {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  nav #top-menu div a {
    font-size: 14px;
  }
}
/* ACÁ COMIENZA EL MENÚ HAMBURGUESA */
@media screen and (max-width: 710px) {
  nav {
    height: 55px;
  }
  nav #logo {
    width: 20%;
    -webkit-animation-name: fullBarLogo;
    animation-name: fullBarLogo;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @-webkit-keyframes fullBarLogo {
    from {
      width: 20%;
    }
    to {
      width: 100%;
    }
  }
  @keyframes fullBarLogo {
    from {
      width: 20%;
    }
    to {
      width: 100%;
    }
  }
  nav #logo img {
    max-width: 150px;
  }
  #burger-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-animation-name: burgerOn;
    animation-name: burgerOn;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  @-webkit-keyframes burgerOn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.4);
      transform: scale(0.4);
    }
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes burgerOn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.4);
      transform: scale(0.4);
    }
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  nav #top-menu {
    display: none;
  }
}
/* <== DEFINE TAMAÑO DEL BOTÓN */
/* <== DEFINE GROSOR DE LA BARRA */
.burger-menu {
  position: relative;
  width: 31px;
  height: calc(31px * 80 / 100);
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.burger-menu span {
  position: absolute;
  height: 14%;
  width: 100%;
  background: black;
  border-radius: 15px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger-menu button {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
/* --------------------------------------------------------------------- */
.top {
  top: calc(14% * 75 / 100);
}
.top-animate,
.top-deanimate {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.top-animate {
  -webkit-animation-name: topAnimate;
  animation-name: topAnimate;
}
@-webkit-keyframes topAnimate {
  0% {
    top: calc(14% * 75 / 100);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    top: calc(50% - calc(14% / 2));
    -webkit-transform: rotateZ(225deg);
    transform: rotateZ(225deg);
  }
}
@keyframes topAnimate {
  0% {
    top: calc(14% * 75 / 100);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    top: calc(50% - calc(14% / 2));
    -webkit-transform: rotateZ(225deg);
    transform: rotateZ(225deg);
  }
}
.top-deanimate {
  -webkit-animation-name: topDeAnimate;
  animation-name: topDeAnimate;
}
@-webkit-keyframes topDeAnimate {
  0% {
    top: calc(50% - calc(14% / 2));
    -webkit-transform: rotateZ(225deg);
    transform: rotateZ(225deg);
  }
  100% {
    top: calc(14% * 75 / 100);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@keyframes topDeAnimate {
  0% {
    top: calc(50% - calc(14% / 2));
    -webkit-transform: rotateZ(225deg);
    transform: rotateZ(225deg);
  }
  100% {
    top: calc(14% * 75 / 100);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
/* --------------------------------------------------------------------- */
.middle {
  top: calc(50% - calc(14% / 2));
}
.middle-animate,
.middle-deanimate {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.middle-animate {
  -webkit-animation-name: middleAnimate;
  animation-name: middleAnimate;
}
@-webkit-keyframes middleAnimate {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
@keyframes middleAnimate {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
.middle-deanimate {
  -webkit-animation-name: middleDeAnimate;
  animation-name: middleDeAnimate;
}
@-webkit-keyframes middleDeAnimate {
  0% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes middleDeAnimate {
  0% {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
/* --------------------------------------------------------------------- */
.bottom {
  bottom: calc(14% * 75 / 100);
}
.bottom-animate,
.bottom-deanimate {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bottom-animate {
  -webkit-animation-name: bottomAnimate;
  animation-name: bottomAnimate;
}
@-webkit-keyframes bottomAnimate {
  0% {
    bottom: calc(14% * 75 / 100);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: calc(50% - calc(14% / 2));
    -webkit-transform: rotateZ(-225deg);
    transform: rotateZ(-225deg);
  }
}
@keyframes bottomAnimate {
  0% {
    bottom: calc(14% * 75 / 100);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    bottom: calc(50% - calc(14% / 2));
    -webkit-transform: rotateZ(-225deg);
    transform: rotateZ(-225deg);
  }
}
.bottom-deanimate {
  -webkit-animation-name: bottomDeAnimate;
  animation-name: bottomDeAnimate;
}
@-webkit-keyframes bottomDeAnimate {
  0% {
    bottom: calc(50% - calc(14% / 2));
    -webkit-transform: rotateZ(-225deg);
    transform: rotateZ(-225deg);
  }
  100% {
    bottom: calc(14% * 75 / 100);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes bottomDeAnimate {
  0% {
    bottom: calc(50% - calc(14% / 2));
    -webkit-transform: rotateZ(-225deg);
    transform: rotateZ(-225deg);
  }
  100% {
    bottom: calc(14% * 75 / 100);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
#menu {
  position: fixed;
  top: 55px;
  width: 100%;
  height: 100%;
  z-index: 60;
}
.off {
  left: 100%;
}
.menu-on {
  display: initial;
  -webkit-animation-name: menuBackgroundOn;
  animation-name: menuBackgroundOn;
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes menuBackgroundOn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes menuBackgroundOn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.menu-off {
  left: 0%;
  -webkit-animation-name: menuBackgroundOff;
  animation-name: menuBackgroundOff;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 0;
  animation-duration: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes menuBackgroundOff {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes menuBackgroundOff {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
#menu #desplegable {
  position: absolute;
  width: 80%;
  max-width: 350px;
  height: 100%;
  background: white;
}
.desplegable-in {
  left: -80%;
  -webkit-animation-name: desplegableIn;
  animation-name: desplegableIn;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes desplegableIn {
  from {
    left: -80%;
  }
  to {
    left: 0%;
  }
}
@keyframes desplegableIn {
  from {
    left: -80%;
  }
  to {
    left: 0%;
  }
}
.desplegable-out {
  left: 0%;
  -webkit-animation-name: desplegableOut;
  animation-name: desplegableOut;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes desplegableOut {
  from {
    left: 0%;
  }
  to {
    left: -80%;
  }
}
@keyframes desplegableOut {
  from {
    left: 0%;
  }
  to {
    left: -80%;
  }
}
#menu #desplegable div {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}
.link-buttons-in {
  opacity: 0;
  -webkit-animation-name: linkButtonsIn;
  animation-name: linkButtonsIn;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@-webkit-keyframes linkButtonsIn {
  0% {
    opacity: 0;
    padding-left: 0px;
  }
  100% {
    opacity: 1;
    padding-left: 25px;
  }
}
@keyframes linkButtonsIn {
  0% {
    opacity: 0;
    padding-left: 0px;
  }
  100% {
    opacity: 1;
    padding-left: 25px;
  }
}
.link-buttons-out {
  opacity: 0;
}
#menu #desplegable div a {
  position: absolute;
  font-size: 16px;
}
#menu #desplegable div a:hover {
  color: #c9c9c9;
}
#menu #desplegable div a:active {
  color: #b244fd;
}
#menu button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.68);
  outline: none;
}
.background-button-on {
  opacity: 1;
  -webkit-animation-name: backgroundOn;
  animation-name: backgroundOn;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes backgroundOn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes backgroundOn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.background-button-off {
  -webkit-animation-name: backgroundOff;
  animation-name: backgroundOff;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes backgroundOff {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes backgroundOff {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*

el alto de cada botón tiene que ser el mismo de la barra de navegación
el texto con un margen igual que el icono de menú de hamburguesa
el texto de cada botón alineado al centro (alineado, NO justificado)

*/
#hero {
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
#hero img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
@media screen and (max-width: 710px) {
  #hero {
    margin-top: 55px;
  }
}
#container-nosotros {
  width: 100%;
  height: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#box-nosotros {
  width: 100%;
}
#description-nosotros {
  position: relative;
  width: 70%;
  min-width: 768px;
  margin: 0% auto;
}
#description-nosotros p {
  font-size: 24px;
  text-align: center;
  padding: 2.5% 10%;
}
#nosotros-art {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#nosotros-art #h-img {
  width: 90%;
  min-width: 700px;
  height: auto;
}
#nosotros-art #v-img {
  display: none;
}
@media screen and (max-width: 1570px) {
  #description-nosotros p {
    font-size: 23px;
  }
}
@media screen and (max-width: 1366px) {
  #description-nosotros p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1175px) {
}
@media screen and (max-width: 850px) {
  #description-nosotros {
    width: 90%;
    min-width: initial;
  }
  #description-nosotros p {
    text-align: justify;
    width: 100%;
    padding: 50px 0px;
    min-width: initial;
  }
  #nosotros-art #h-img {
    display: none;
  }
  #nosotros-art #v-img {
    display: initial;
    width: 50%;
    height: auto;
    min-width: 170px;
    max-width: 220px;
    padding-bottom: 50px;
  }
}
#nosotros {
  position: relative;
  width: 100%;
  height: 90vh;
  min-height: 1000px;
  max-height: 1080px;
}
#portfolio,
#servicios {
  position: relative;
  width: 100%;
}
#servicios {
  position: relative;
  background: rgba(21, 104, 204, 0.05);
}
#servicios-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/dots-pattern.png");
  opacity: 0.07;
}
#nosotros,
#portfolio {
  background: white;
}
.title {
  position: relative;
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 5%;
  padding-top: 3%;
  border-bottom: 3px solid #475dfc;
  font-size: 32px;
}
.content {
  position: relative;
  width: 100%;
  height: 90%;
}
.title .icon-id {
  position: absolute;
  width: 65px;
  height: 65px;
  right: 5%;
  top: 130%;
  z-index: 50;
}
.title .icon-id img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 1366px) {
  #nosotros {
    min-height: 600px ;
    max-height: 768px;
  }
  .title {
    padding-top: 3%;
    font-size: 18px;
  }
}
@media screen and (max-width: 850px) {
  #nosotros {
    position: relative;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: initial;
    max-height: initial;
  }
  .title {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-bottom: 5px solid #475dfc;
  }
  .title .icon-id {
    top: initial;
    bottom: 20px;
    height: 55px;
    width: 55px;
  }
}
#container-servicios {
  position: relative;
  padding-top: 40px;
  width: 75%;
  max-width: 1150px;
  margin: 40px auto;
}
#container-servicios .box {
  width: 60%;
  min-width: 680px;
  height: 150px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.left,
.right {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.right h3,
.right p {
  text-align: right;
}
.box .box-icon {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.box .box-icon img {
  width: auto;
  height: 115%;
}
.box .description {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.description h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.description p {
  font-size: 17px;
}
@media screen and (max-width: 850px) {
  #container-servicios .box {
    width: 100%;
    min-width: initial;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 30px;
  }
  #container-servicios .left .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #container-servicios .right .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .box .box-icon {
    width: 50%;
    min-width: 160px;
    height: auto;
  }
  .box .box-icon img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
  }
  .box .description {
    width: 90%;
    max-width: 400px;
  }
  #container-servicios h3 {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .right h3,
  .left h3 {
    text-align: center;
  }
  .right p {
    text-align: initial;
  }
}
.portfolio-container {
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 10% 0px 10%;
}
.portfolio-container div {
  width: 44%;
  height: auto;
  margin: 2% 1%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.portfolio-container div:hover {
  -webkit-transform: translate(-4px, -4px) scale(1.01);
  -ms-transform: translate(-4px, -4px) scale(1.01);
  transform: translate(-4px, -4px) scale(1.01);
}
.portfolio-container div img {
  width: 100%;
  height: auto;
  border: 1px solid #e6e6e6;
}
.p-image,
.p-text {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.p-text {
  line-height: 26px;
  margin-bottom: 25px;
}
.portfolio-container div:hover .p-image {
  -webkit-box-shadow: 2px 2px 6px #e6e6e6;
  box-shadow: 2px 2px 6px #e6e6e6;
}
.portfolio-container div:hover .p-text {
  text-shadow: 2px 2px 6px #e6e6e6;
}
.portfolio-container div p {
  font-size: 24px;
  font-weight: 500;
}
#ver-mas {
  text-align: center;
  margin: 30px 0;
}
#ver-mas a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 666px) {
  .portfolio-container {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .portfolio-container div {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
  }
}
#contactanos {
  position: relative;
  background: #475dfc;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
#contactanos img {
  height: 90px;
  width: auto;
}
#contactanos p {
  font-size: 22px;
  font-weight: 700;
  color: white;
}
#contactanos div {
  margin-top: 35px;
}
#contactanos a {
  font-size: 22px;
  font-weight: 700;
  color: #475dfc;
  background: white;
  padding: 5px 25px;
  border-radius: 30px;
}
@media screen and (max-width: 710px) {
  #contactanos p:first-of-type {
    font-weight: 400;
    letter-spacing: 1.5pt;
  }
}
footer {
  position: relative;
  padding: 30px;
  width: 100%;
  max-width: 1920px;
}
#redes {
  position: absolute;
  right: 3%;
  top: 55px;
  width: 170px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#redes a {
  height: 100%;
  width: auto;
}
#redes a img {
  height: 100%;
  width: auto;
}
#firma {
  margin: 0 auto;
  width: 75%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#f-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
#f-logo img {
  height: 100%;
  width: auto;
}
#f-data {
  width: 75%;
  height: 100%;
  padding-left: 14px;
}
#f-data p,
#f-data p strong {
  font-size: 14px;
  line-height: 22px;
}
@media screen and (max-width: 666px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #redes {
    position: initial;
    margin: 0 auto;
    width: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  #redes a,
  #redes a img {
    margin: 0;
  }
  #firma {
    width: 95%;
    height: 140px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-top: 15px;
    border-top: 1px solid grey;
  }
  #f-data {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
