@import "global.less";
@import "variables.less";

header {
    position: relative;
    width: 100%;
    height: 130px;
    padding: 40px 50px;
    background: @BlueBatColor;
    display: flex;
    align-items: flex-end;
} 

.header-img {
    position: absolute;
    width: 90px;
    height: 90px;
    right: 60px;
    bottom: 20px;
    display: none;
}

.back-arrow {
    position: absolute;
    left: 70px;
    top: 20px;
    width: auto;
    height: auto;
}

.back-arrow img {
    width: 90%;
    height: auto;;
}

header p {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 2.5px;
    padding-left: 20px;
    line-height: 0px;
    color: white;
}

#formulario {
    // border: 2px solid pink;
    position: relative;
    width: 100%;
}

#formulario img {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    right: 60px;
    display: initial;
}

#formulario form {
    width: 80%;
    height: 100%;
    margin-left: 70px;
    padding-top: 70px;
    // border: 2px solid red;
}

p.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    width: 100%;
}

p.text {
    font-size: 18px;
    line-height: 24px;
    max-width: 1300px;
    padding-top: 10px;
    width: 100%;
}

#data-inputs {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 35px;
    // border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#data-inputs span {
    width: 45%;
    // min-width: 300px;
    // border: 2px solid white;
    padding-bottom: 20px;
}

p.grey {
    font-size: 18px;
    padding-left: 10px;
    color: grey;
}

span input {
    outline: none;
    width: 90%;
    height: 40px;
    font-size: 22px;
    padding-left: 10px;
    border: 1px solid #808080;
}

#options {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-width: 700px;
    padding-top: 25px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

.opt {
    width: auto;
    height: auto;
}
.opt div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opt div p {
    font-size: 20px;
    font-weight: 600;
}

.opt div input {
    display: none;
    pointer-events: none;
}

.radius {
    display: initial;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.radius div {
    width: 77%;
    height: 77%;
    border-radius: 100%;
}

.r-unselected {
    background: initial;
}
.r-selected {
    background: blue;
}

textarea {
    width: 100%;
    max-width: 1300px;
    max-height: 300px;
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #808080;
    outline: none;
}

#input-btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

input[type='submit']{
    color: @BlueBatColor;
    border-radius: 40px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    border: 1px solid @BlueBatColor;
    padding: 10px 35px;
    background: none;
    margin-bottom: 50px;
    cursor: pointer;
    outline: none;
}

@import "footer.less";

footer {
    border-top: 5px solid @BlueBatColor;
}

@media screen and (max-width: 1366px) {

    p.text {
        max-width: 1000px;
    }

}

@media screen and (max-width: 800px) {

    #options {
        min-width: initial;
    }

    .opt div p {
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {

    .header-img {
        display: initial;
    }

    #formulario img {
        display: none;
    }

    #formulario form {
        margin-left: 50px;
    }

    #data-inputs span {
        width: 100%;
    }

    #options {
        flex-direction: column;
        justify-content: initial;
        align-items: flex-start;
    }

    .opt {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 12px;
    }

    .opt div p {
        padding-left: 10px;
    }

    #options {
        flex-direction: column;
        min-width: initial;
    }

    #options span {
        flex-direction: row-reverse;
        padding-bottom: 10px;
    }

    #options span p {
        font-size: 20px;
        padding-left: 8px;
    }

    input[type='submit']{
        font-size: 18px;
    }

}

@media screen and (max-width: 480px) {

    header {
        padding: 50px 30px;
    }

    .header-img {
        right: 30px;
    }

    #formulario form {
        margin-left: 30px;
    }

    textarea {
        margin-top: 20px;
    }

    input[type='submit']{
        font-size: 16px;
    }
}