#contactanos {
    background: @BlueBatColor;
    text-align: center;
    padding: 35px;
}

#contactanos img {
    height: 90px;
    width: auto;
}

#contactanos p {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#contactanos div {
    margin-top: 35px;
}

#contactanos a {
    font-size: 22px;
    font-weight: 700;
    color: @BlueBatColor;
    background: white;
    padding: 5px 25px;
    border-radius: 30px;
}