footer {
    position: relative;
    padding: 30px;
    width: 100%;
    max-width: 1920px;
}

#redes {
    position: absolute;
    right: 3%;
    top: 55px;
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    // border: 3px solid black;
}

#redes a {
    height: 100%;
    width: auto;
}

#redes a img{
    height: 100%;
    width: auto;
}

#redes a img:hover{
    opacity: .5;
}

#firma {
    margin: 0 auto;
    width: 75%;
    height: 90px;
    display: flex;
}

#f-logo {
    width: fit-content;
    height: 100%;
}

#f-logo img {
    height: 100%;
    width: auto;
}

#f-data {
    width: 75%;
    height: 100%;
    padding-left: 14px;
}

#f-data p, #f-data p strong {
    font-size: 14px;
    line-height: 22px;
}

@media screen and (max-width: 666px) {

    footer {
        display: flex;
        flex-direction: column;
    }

    #redes {
        position: initial;
        margin: 0 auto;
        width: 170px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px
    }

    #redes a, #redes a img  {
        margin: 0;
    }

    #firma {
        width: 95%;
        height: 140px;
        justify-content: center;
        align-content: center;
        padding-top: 15px;
        border-top: 1px solid #ccc;
    }

    #f-data {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}