//las medidas comienzan en 1920px de ancho

// SECCTION
#nosotros {
    position: relative;
    width: 100%;
    height: 90vh;
    min-height: 1000px;
    max-height: 1080px;
}

#portfolio, #servicios{
    position: relative;
    width: 100%;
}

#servicios {
    background: thistle;
    background-image: url("../img/dots-pattern.png");
}

#nosotros, #portfolio {
    background: white;
}

.title {
    position: relative;
    width: 95%;
    height: fit-content;
    margin-left: 5%;
    padding-top: 3%;
    border-bottom: 3px solid blue;
    border-radius: 3px;
    font-size: 32px;
}

.content {
    position: relative;
    width: 100%;
    height: 90%;
}

.title .icon-id {
    position: absolute;
    width: 80px;
    height: 80px;
    // border: 1px solid black;
    right: 5%;
    top: 130%;
    z-index: 50;
}

.title .icon-id img {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 1366px) {
    #nosotros {
        min-height: 600px ;
        max-height: 768px;
    }

    .title {
        padding-top: 3%;
        font-size: 18px;
    }

    .content .icon-id {
        width: 65px;
        height: 65px;
    }
}
