@import "variables.less";

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 1920px;
    height: 70px;
    background: white;
    display: flex;
    box-shadow: 3px 3px 9px #0000002a;
    z-index: 90;
}

nav #logo {
    height: 100%;
    width: 20%;
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #logo img {
    height: auto;
    width: 80%;
    min-width: 150px;
}

nav #top-menu {
    height: 100%;
    width: 80%;
}

/* BOTON HAMBURGUESA */ ////////////////////////////
#burger-button {
    position: absolute;
    display: none;
    height: 100%;
    width: 20%;
    z-index: 100;
}

nav #top-menu div {
    margin-left: 5%;
    height: 100%;
    width: 75%;
    max-width: 900px;
    //background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav #top-menu div a{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

nav #top-menu div a:hover{
    color: @a-hover;
}

nav #top-menu div a:active{
    color: @a-active;
}

nav #lang {
    position: absolute;
    right: 0;
    height: 100%;
    width: 10%;
   // background: pink;
    display: flex;
    align-items: center;
}

//botón de cambio de idioma
//de momento inactivo y oculto
nav #lang button {
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    padding: 0 4.5px;
    border: 2px solid #999999;
    color: #999999;
    border-radius: 100%;
    background: none;
    outline: none;
}


@media screen and (max-width: 1000px) {
    
    nav #top-menu div a{
        font-size: 16px;
    }

}

@media screen and (max-width: 900px) {

    nav #top-menu div a{
        font-size: 14px;
    }

}

/* ACÁ COMIENZA EL MENÚ HAMBURGUESA */
@media screen and (max-width: 710px) {

    nav {
        height: 55px; //tamaño original
    }

    nav #logo {
        width: 100%;
    }

    nav #logo img {
        max-width: 150px;
    }

    #burger-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav #top-menu {
        display: none;
    }


}