#container-nosotros {
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: black;
}

#box-nosotros {
    width: 100%;
    min-width: 768px;
}

#description-nosotros {
    position: relative;
    width: 70%;
    min-width: 768px;
    border: 2px solid black;
    margin: 0% auto;
}

#description-nosotros p {
    font-size: 24px;
    text-align: center;
    padding: 2.5% 10%;
}

#nosotros-art {
    width: 70%;
    margin: 0 auto;
    // border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nosotros-art img {
    width: 80%;
    min-width: 768px;
    height: auto;
}

@media screen and (max-width: 1570px){

    #description-nosotros p {
    font-size: 23px;
    }
}


@media screen and (max-width: 1366px){

    #description-nosotros p {
    font-size: 18px;
    }
}

@media screen and (max-width: 1175px){

    #description-nosotros p {
    font-size: 17px;
    }
}

@media screen and (max-width: 768px){

}
