#container-nosotros {
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: black;
}

#box-nosotros {
    width: 100%;
    // min-width: 768px;
    // background: green;
}

#description-nosotros {
    position: relative;
    width: 70%;
    min-width: 768px;
    // border: 2px solid black;
    margin: 0% auto;
}

#description-nosotros p {
    font-size: 24px;
    text-align: center;
    padding: 2.5% 10%;
}

#nosotros-art {
    width: 70%;
    margin: 0 auto;
    // border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nosotros-art #h-img {
    width: 90%;
    min-width: 700px;
    height: auto;
}

#nosotros-art #v-img {
    display: none;   
}

@media screen and (max-width: 1570px){

    #description-nosotros p {
    font-size: 23px;
    }
}


@media screen and (max-width: 1366px){

    #description-nosotros p {
    font-size: 18px;
    }
}

@media screen and (max-width: 1175px){

    // #description-nosotros p {
    // font-size: 17px;
    // }
}

@media screen and (max-width: 850px) {

    #description-nosotros {
        // position: relative;
        // width: 70%;
        // min-width: 768px;
        // // border: 2px solid black;
        // margin: 0% auto;
        width: 90%;
        min-width: initial;
    }

    #description-nosotros p {
        text-align: justify;
        width: 100%;
        padding: 50px 0px;
        min-width: initial; //setear luego
    }

    #nosotros-art #h-img {
        display: none;
    }

    #nosotros-art #v-img {
        display: initial;
        width: 50%;
        height: auto;
        min-width: 170px;
        padding-bottom: 50px;
    }

}

@media screen and (max-width: 768px){

}