#portfolio {
    position: relative;
    width: 100%;
    height: 453px;
}

#p-line {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
#p-line div{
    height: 3px;
    width: 100%;
    background: #475dfc;
}
#p-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.p-container {
    position: relative;
    width: 60%;
    height: fit-content;
    max-width: 750px;
    min-width: 600px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.p-container img {
    margin: 0 30px;
    width: 78px;
    height: auto;
}

.port-button {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end

}

.port-button button {
    width: 300px;
    height: 70px;
    border-radius: 100px;
    background: #b244fd;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.p-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    text-align: center;
}

.p-title p{
    font-size: 25px;
    font-weight: 300px;
    letter-spacing: 5px;
    color: #4a4a4a;
}

@media screen and (min-width: 650px){

    #p-container {
        width: 100%;
        max-width: initial;
    }

}

////corregir
