#container-servicios {
    position: relative;
    padding-top: 40px;
    width: 75%;
    max-width: 1150px;
    // min-width: 768px;
    margin: 40px auto;
}

#container-servicios .box {
    width: 60%;
    min-width: 680px;
    height: 150px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}


.left, .right {
    width: 100%;
    height: fit-content;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.right h3, .right p {
    text-align: right;
}

.box .box-icon {
    width: 30%;
    height: 100%;
    // border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .box-icon img {
    width: auto;
    height: 115%;
}

.box .description {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.description h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.description p {
    font-size: 17px;
}
